body {
  margin: 0 !important;

}

.bgimg-1 {
  background-image: url("/pics/vo-vorn-black.jpg");
  height: 1000px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}



.topnavcomp {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3c6e71;
  color: white;
}

.logo {
  padding-left: 30px;
  height: 50px;
  padding-top: 5px;
}

.bigP {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top: 200px;
    font-size: 100px;
    color: white;
}

.klasse_im_plus {
  height: 100px;
} 

.fit4life {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  text-align: center;
  padding-top: 300px;
}

.klasse_im_plus {
  overflow: hidden;
  height: 500px;
  background-color: #333;
}

.klasseimg {
  float: left;
  width: 580px;
  margin: 0;
}

.klasseimg img{
  height: 150px;
  padding-top: 100px;
  padding-left: 20px;
}

.klasseP {
  padding-top: 110px;
  padding-right: 100px;
  padding-left: 680px;
  display: block;
  color: white;
  font-size: larger;
  text-align: center;
}

.Schülerinfodrop {
  display: none;
}

.Elterninfo: {
  color:red;
}