:root {
    --darker-grey: #1b1b1b;
    --grey: #353535;
    --text: #fff;
    --red-a: #A8353A;
}

html::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background: var(--grey);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    width: 100%;
    height: 68px;
    background-color: var(--grey);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.11);
}

nav ul{
    float: right;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    font-family: Arial;
    color: var(--text);
    font-size: 20px;
    text-decoration: none;
    padding: 24px;
    padding-top: 21px;
    display: block;
}

nav ul li a:hover{
    background-color: var(--darker-grey);
} 

nav ul li ul{
    display: none;
    position: absolute;
    background-color: var(--red-a);
    padding: 7px;
    border-radius: 0px 0px 12px 12px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a{
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
}

nav ul li ul li a:hover{
    background-color: var(--red-a);
}

.bgimg-1 {
    background-image: url("./pics/vo-vorn-black.jpg");
    height: 1000px;
  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url("./pics/vo-vorn-black.jpg");
    height: 400px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

  
.fit4life {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    text-align: center;
    padding-top: 300px;
}

.infos {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.infos div img {
    padding-bottom: 50px;
}

.klasseImPlus{
    width: 500px;
    height: auto;
}

.fairtrade {
    height: 136px;
    padding-left: 150px;
    padding-right: 150px;
}

.medienEntwicklung {
    height: 136px;
}

.infos a{
    text-decoration: underline;
    color: var(--text);
    font-size: 20px;
}

.klasseImPlusTxt {
    padding-left: 230px;
}

.fairtradeTxt {
    padding-left: 221px;
    
}

.medienEntwicklungTxt {
    padding-left: 223px;
}

.aktuelleInfos h3{
    color: var(--text);
    font-size: 80px;
    padding-top: 100px;
}