        <div class="bg-gray-12 h-[150px] text-white flex flex-col justify-center text-center">
            <h2 class="text-3xl pb-3">Quick-links:</h2>
            <ul class="underline">
                <li><a href="#">Mebis</a></li>
                <li><a href="#">Office 365</a></li>
                <li><a href="#">Datenschutz</a></li>
            </ul>
        </div>